@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background-image: url('img/doin_good.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
    }
</style>

<body>
    <div class="text-center">
        <h1 class="display-4">Doin'Good</h1>
        <p>We could all use inspiration or a pick-me-up especially in present times. Doin’ Good challenges you to “Feel Good By Doin’ Good!”</p>
    </div>

</body>

