@model DoinGood.Models.Deed

@{
    ViewData["Title"] = "DeedDonate";
}

<h1>Donate</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DeedDonate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CatalystId" />
            <input type="hidden" asp-for="Catalyst" />
            <input type="hidden" asp-for="InspireCount" />
            <input type="hidden" asp-for="ChallengeCount" />
            <input type="hidden" asp-for="Beneficence" />
            <input type="hidden" asp-for="Impact" />
            <input type="hidden" asp-for="FundId" />
            <input type="hidden" asp-for="DeedId" />
            <input type="hidden" asp-for="Fund" />
            <input type="hidden" asp-for="MaxAmount" />
            <div class="form-group">
                <label asp-for="DonateAmount" class="control-label">How much would you like to donate?</label>
                <input asp-for="DonateAmount" class="form-control" />
                <span asp-validation-for="DonateAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DeedIndex">Back to List</a>
</div>