@model DoinGood.Models.Donate

@{
    ViewData["Title"] = "DonateCreate";
}

<h1>DonateCreate</h1>

<h4>Donate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DonateCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AddressId" class="control-label"></label>
                <select asp-for="AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PosterCatalystId" class="control-label"></label>
                <select asp-for="PosterCatalystId" class ="form-control" asp-items="ViewBag.PosterCatalystId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DonorCatalystId" class="control-label"></label>
                <select asp-for="DonorCatalystId" class ="form-control" asp-items="ViewBag.DonorCatalystId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DerservingCauseId" class="control-label"></label>
                <input asp-for="DerservingCauseId" class="form-control" />
                <span asp-validation-for="DerservingCauseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
