@model DoinGood.Models.Tasks

@{
    ViewData["Title"] = "TasksCreate";
}

<h1>TasksCreate</h1>

<h4>Tasks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TasksCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PosterCatalystId" />
            <input type="hidden" asp-for="TaskerCatalystId" />
            <input type="hidden" asp-for="PosterComplete" />
            <input type="hidden" asp-for="TaskerComplete" />
            <input type="hidden" asp-for="TaskerValue" />
            <input type="hidden" asp-for="TaskerValue" />
            <input type="hidden" asp-for="TaskerFundId" />
            <input type="hidden" asp-for="TaskerFund" />
            <div class="form-group">
                <label asp-for="TaskTitle" class="control-label">TASK YOU NEED COMPLETED</label>
                <input asp-for="TaskTitle" class="form-control" placeholder="TASK NAME"/>
                <span asp-validation-for="TaskTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label">PLEASE DESCRIBE THE TASK IN DETAIL</label>
                <input asp-for="TaskDescription" class="form-control" placeholder="DESCRIPTION"/>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label">VALUE<sup> *to be donated</sup></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">IMAGE</label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundId">SELECT A CAUSE TO SUPPORT</label>
                <select asp-for="FundId" class="form-control" asp-items="ViewBag.fundList"></select>
                <span asp-validation-for="FundId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="TasksIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
